<h1>New feed item</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'feedpub:newitem' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" id="title" value="Enter title here">
    <br /><br />
    <!-- <label for="title">Enter title here</label><br> -->
    <textarea name="content" id="content">Enter content here</textarea>
    <br/><br />
    <select name="feeds">
    {% for feed in feed_list %}
        <option value="{{ feed.feedName }}">{{ feed.feedName }}</option>
    {% endfor %}
    </select>
    <br /><br />
    <input type="submit" value="Submit">
</form>
